* {
    margin: 0;
    padding: 0;
    box-sizing: none;
    font-family: monospace;

    scroll-behavior: smooth; 
}
  


body {
    background-color: #ffffff;
    width: auto;
}


.nav {
    position: fixed;
    background-color: #444444;
    left: 0;
    width: 100%;
    padding: 20px 20px;

    display: flex;
    justify-content: center;
    z-index: 13;
}

.nav ul {
    display: flex;
}

.nav ul li {
    list-style: none;
    margin-left: 5px;
}

.nav ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(253, 228, 0);
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

.nav ul li a:hover {
    background-color: #fff;
    color: #815200;
    border-radius: 10px;
}



.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.hero img {
    margin-top: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#landing {
    height: 100vh
}

#landing h1 {
    position: absolute;
    z-index: 3;
    top: 15%;
    right: 0;
    left: 50px;
    font-size: 90px;
    letter-spacing: 5px;
    color: #fff;
    text-align: center;

    text-shadow: 0 0 10px rgb(251, 255, 138);
}

#landing h3 {
    position: absolute;
    z-index: 3;
    top: 50%;
    right: 0;
    left: 50px;
    font-size: 60px;
    letter-spacing: 5px;
    color: rgb(255, 255, 255);
    text-align: center;

    z-index: 5;
    text-shadow: 0 0 10px rgb(251, 255, 138), 0 0 10px #fff, 0 0 15px #fffd9b;
}

.focus2-img {
    z-index: 4;
    
}


.btn {
    position: absolute;
    top: 80%;
    z-index: 11;
    margin: 0 auto;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 20px;
    background-color: #444444;
    color: rgb(253, 228, 0);
    font-size: 20px;

    box-shadow: 5px 0 15px rgba(85, 85, 85, 0.8);
}

#landing::before {
    content: '';
    position: absolute;
    bottom: -10%;
    width: 100%;
    height: 35%;
    background: linear-gradient(to top, #444443, transparent);
    z-index: 10;
}


#about {
    padding: 50px 0;
    line-height: 30px;
    color: rgb(253, 228, 0);
    background-color: #444444;
}

.content {
    z-index: 6;
    position: relative;
    text-align: center;
    width: auto; 
    margin: 100px;
    padding: 50px 90px 60px 90px;

    background-color: #1d1b18;
    border-radius: 20px;
}


.content hr {
    width: 100%;
    border: 1px solid #fff;
    text-align: center;
    right: 100px;
    display: inline-block;
}

.content p {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: -30px;
    text-align: justify;
    text-indent: 50px;
}

@media(max-width: 450px){
	.sectio nav ul li {
        text-align: center;
        position: fixed;
    }
}








/*image-scroll*/


div .img-slider {
    z-index: 15;
}

body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    align-items: center;
    border-radius: 20px;

}

.slider-container {
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(to right, rgb(104, 105, 0), rgb(196, 127, 0));
    z-index: 12;
    border: 10px;
}

.img-slider{
    width: 100%;
    height: 600px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .7s;
}

.slides-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 30px;
}

.img {
    position: relative;
    width: 240px;
    height: 370px;
    transition: .5s;
    filter: saturate(10%);
}

.button{
    position: absolute;
    width: 240px;
    height: 370px;
    transition: .5s;
    background-color: rgba(0, 0, 0, -4);


}

.button:hover{
    background-color: rgba(0, 0, 0, -7);

}

#slider-span1:target ~ .image-slide #img1, #slider-span1:target ~ .image-slide #button-1{
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span2:target ~ .image-slide #img2, #slider-span2:target ~ .image-slide #button-2{
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span3:target ~ .image-slide #img3, #slider-span3:target ~ .image-slide #button-3{
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span4:target ~ .image-slide #img4, #slider-span4:target ~ .image-slide #button-4{
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span5:target ~ .image-slide #img5, #slider-span5:target ~ .image-slide #button-5{
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span6:target ~ .image-slide #img6, #slider-span6:target ~ .image-slide #button-6{
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span7:target ~ .image-slide #img7, #slider-span7:target ~ .image-slide #button-7{
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}


/*image position*/

#slider.span1:target ~ .image-slider {left: 70%; z-index: 12;}
#slider.span2:target ~ .image-slider {left: 50%; z-index: 12;}
#slider.span3:target ~ .image-slider {left: 25%; z-index: 12;}

#slider.span5:target ~ .image-slider {left: -25%; z-index: 12;}
#slider.span6:target ~ .image-slider {left: -50%; z-index: 12;}
#slider.span7:target ~ .image-slider {left: -70%; z-index: 12;}


